.text-area{
    -fx-font-family: "Comic Sans MS";
}
#col{
    -fx-font-family: "Comic Sans MS";
}
#col1{
    -fx-font-family: "Comic Sans MS";
}
#but{
    -fx-background-color: bisque;
    -fx-text-fill: #19191b;
}
#but:hover{
    -fx-background-color: #19191b;
    -fx-text-fill: bisque;
}
#but:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.text-field{
    -fx-background-color: bisque;
    -fx-background-radius: 5;
    -fx-border-style: hidden none solid none;
    -fx-border-width: 2;
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #28a3f4;
}
